# OS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/

# Jupyter
.ipynb_checkpoints/

# Django
db.sqlite3

# 원본 데이터 전체 제외
data/raw_data/

# 전처리 결과 데이터 (대용량)
ai/outputs/*.csv

# Env
.env

# 네이버 플레이스 크롤링 데이터
ai/outputs/crawl_naver_place.log